.coinflip-container{
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
}
.coinflip-game-canvas{
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url('../../images/games/coinflipbackground.png');
  background-size: cover;

}
.game-coin-container {
  width: 100%;
  height: 80%;
  /* -webkit-perspective: 300px;
  perspective: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;

}

.coin {
  height: 150px;
  width: 150px;
  position: relative;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
  /* margin: 50px auto; */
}
.coin img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.heads,
.tails {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
}
.tails {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@-webkit-keyframes spin-tails {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(1980deg);
    transform: rotateY(1980deg);
  }
}
@keyframes spin-tails {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(1980deg);
    transform: rotateY(1980deg);
  }
}
@-webkit-keyframes spin-heads {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(2160deg);
    transform: rotateY(2160deg);
  }
}
@keyframes spin-heads {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(2160deg);
    transform: rotateY(2160deg);
  }
}

#flip-button {
  background-color: #424ae0;
  color: #ffffff;
}
#flip-button:disabled {
  background-color: #e1e0ee;
  border-color: #e1e0ee;
  color: #101020;
}
/* //imported css */