.game-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
  
  .blue-area {
    background-color: #8a2be2;
    width: 40rem;
    height: 100%;
    position: relative;
  }
  
  .coin {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Add animation for spinning effect */
  }
  
  .wallet-info {
    background-color: #add8e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 30%;
  }
  
  input {
    display: block;
    margin: 10px 0;
    padding: 10px;
  }
  
  button {
    margin: 10px 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .place-bet-btn {
    background-color: #32cd32;
    color: white;
    border: none;
    width: 100%;
  }