@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
.games-container{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.games-heading h2{
    font-weight: 900;
}
.games-list-container{
    margin-top: 3rem;
}
.games-list{
    display: flex;
    align-items: row;
    align-items: center;
    justify-content: space-between;
}
.game-itam{
    width: 22%;
}
.game-image img{
    width: 100%;  
    border-radius: 12px;
}
.gi1 img{
    border: solid 2px rgb(240, 172, 0);
}
.gi2 img{
    border: solid 2px rgb(95, 15, 165);
}
.gi3 img{
    border: solid 2px rgb(204, 52, 1);
}
.gi4 img{
    border: solid 2px rgb(3, 112, 175);
}
.game-info-c h5{
    font-family: 'Protest Guerrilla', sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}
.game-info-c p{
    font-size: 18px;
    padding-top: -30px;
    color: rgb(189, 189, 189);
}
